body {
    background-color: #DEC0F1;
}

.sale-container {
    border: 2px black solid;
    width: 50%;
    text-align: center;
    background-color: #EFD9CE;
}

Button {
    background-color: #F4B942;
}