.parent-details {
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1465161191540-aac346fcbaff?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8eWFyZCUyMHNhbGV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    height: 100vh;
}
h4 {
    align-self: center;
}

.parent-card {
    background-color: #eebb68;
    margin-top: 25px;
}

.list-item {
    text-align: center;
    background-color: antiquewhite;
}
.ft-item-name {
    padding-left: 3%;
    padding-top: 1%;
    background-color: antiquewhite;
}

.ft-item-body {
    background-color: antiquewhite;
    padding: 10px;
}

.edit-group {
    margin-left: 15px;
}
.edit {
    background-color: #127475;
}
.edit:hover {
    background-color: #21D1D4;
}

.delete-group {
    margin-left: 75%;
}
.delete {
    background-color: #F02D3A;
}

.delete:hover {
    background-color: #F8A18C;
}